/** local videocontainer will be appended to remote, as such unset all values */

/** Grid Container todo: rename the container? */


.filmstrip {

    all: unset !important;
}


.reduce-height {
    all: unset !important;
}

#filmStripLocalVideo {

    height: 100%;

}




#remoteVideos {

    all: unset;
    display: grid;
    grid-template-columns: repeat(3,33%);
    position: unset !important;

    width: 100% !important;
    height: 100% !important;

    grid-gap: 20px;
    margin: 0;
    //overrides
    border: unset !important;
     padding-left:unset !important;
     transition: unset !important;

    .videocontainer {

        grid-row: span 1;
        grid-column: span 1;
        position: unset !important;
        display: block !important;
    }

}




.flipVideoX {

    width: 100%;
    height: 100%;

}


#localVideoWrapper {
    width: 100%;
    height: 100%;


}

#localVideoContainer {

    display: block !important;
        width: 100% !important;
        height: 100% !important;
        min-height: unset !important;
        min-width: unset !important;
}



.tile-filmstrip {

    position: absolute;
    all: unset !important;

    &__toolbar {
        @include flex();
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        position: relative;
        width: $filmstripToggleButtonWidth;

        button {
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            background: transparent;
            opacity: 0.7;
            height: auto;
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
            outline: none;

            -webkit-appearance: none;

            &:hover {
                opacity: 1;
            }

            i {
                cursor: pointer;
            }
        }
    }

    /*    &__videos {

            @extend %align-right;
            position:relative;
            padding: 0;
            !* The filmstrip should not be covered by the left toolbar. *!
            bottom: 0;
            width:auto;
            overflow: visible !important;

            &#remoteVideos {
                border: $thumbnailsBorder solid transparent;
                padding-left: $defaultToolbarSize + 5;
                transition: bottom 2s;
            }

            !**
             * The local video identifier.
             *!
            &#filmstripLocalVideo {
                align-self: flex-end;
                display: block;
            }

            &.hidden {
                bottom: -196px;
            }


            .videocontainer {
                display: none;
                position: relative;
                background-size: contain;
                border: $thumbnailVideoBorder solid transparent;
                border-radius: $borderRadius;
                margin: 0 $thumbnailVideoMargin;

                &.videoContainerFocused, &:hover {
                    cursor: hand;
                }

                !**
                 * Focused video thumbnail.
                 *!
                &.videoContainerFocused {
                    transition-duration: 0.5s;
                    -webkit-transition-duration: 0.5s;
                    -webkit-animation-name: greyPulse;
                    -webkit-animation-duration: 2s;
                    -webkit-animation-iteration-count: 1;
                    border: $thumbnailVideoBorder solid $videoThumbnailSelected !important;
                    box-shadow: inset 0 0 3px $videoThumbnailSelected,
                    0 0 3px $videoThumbnailSelected !important;
                }

                .remotevideomenu > .icon-menu {
                    display: none;
                }

                .presence-label {
                    color: $participantNameColor;
                    font-size: 12px;
                    font-weight: 100;
                    left: 0;
                    margin: 0 auto;
                    overflow: hidden;
                    pointer-events: none;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    text-overflow: ellipsis;
                    top: calc(50% + 30px);
                    white-space: nowrap;
                    width: 100%;
                    z-index: $zindex3;
                }

                !**
                 * Hovered video thumbnail.
                 *!
                &:hover {
                    cursor: hand;
                    border: $thumbnailVideoBorder solid $videoThumbnailHovered;
                    box-shadow: inset 0 0 3px $videoThumbnailHovered,
                    0 0 3px $videoThumbnailHovered;

                    .remotevideomenu > .icon-menu {
                        display: inline-block;
                    }
                }

                !* With the TemasysWebRTC plugin <object/> element is used
                instead of <video/> *!
                & > video,
                & > object {
                    cursor: hand;
                    border-radius: $borderRadius;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }*/

}
