:root {
    --width: 100%;
    --height: 100%;
}

#filmstripRemoteVideosContainer {

    outline: 1px dashed red !important;
    position: absolute;
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .videocontainer {
        min-height: unset !important;
        min-width:  unset !important;
        width: var(--width) !important;
        height: var(--height) !important;
    }

}



.display-name-on-black {
    all: unset !important;
}

