
/** Grid Container todo: rename the container? */



#remoteVideos {
    display: none;
}

#gridContainer {

    display: grid;
    grid-gap: 20px;
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;

    //overrides
    position: unset !important;
    border: unset !important;
    padding-left:unset !important;
    transition: unset !important;

    .videocontainer {

        grid-row: span 1;
        grid-column: span 1;
        height: 100% !important;
    }


}


.flipVideoX {

    width: 100%;
    height: 100%;

}


#localVideoContainer {

    display: block !important;
    width: unset !important;
    height: 100% !important;
    min-height: unset !important;
    min-width: unset !important;

    #localVideoWrapper {
        width: 100%;
        height: 100%;
    }


}


